<% model_class = Playlist %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %> <i class="fa fa-sort"></i></th>
      <th><%= model_class.human_attribute_name(:genre) %> <i class="fa fa-sort"></i></th>
    </tr>
    </tr>
  </thead>
  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= link_to playlist.name, playlist_path(playlist) %></td>
        <td><%= playlist.genre %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>

function sortTable(f,n){
var rows = $('tbody  tr').get();

rows.sort(function(a, b) {

  var A = getVal(a);
  var B = getVal(b);

  if(A < B) {
    return -1*f;
  }
  if(A > B) {
    return 1*f;
  }
  return 0;
});

function getVal(elm){
  var v = $(elm).children('td').eq(n).text().toUpperCase();
  if($.isNumeric(v)){
    v = parseInt(v,10);
  }
  return v;
}

$.each(rows, function(index, row) {
  $('table').children('tbody').append(row);
});
}
var f_sl = 1;
var f_nm = 1;
$("thead tr th").click(function(){
  f_sl *= -1;
  var n = $(this).prevAll().length;
  sortTable(f_sl,n);
});
// $("thead tr th:last-child").click(function(){
//   f_nm *= -1;
//   var n = $(this).prevAll().length;
//   sortTable(f_nm,n);
// });

</script>
